<article id="components" class="u-bg--blue">
  <div class="o-header l-flex--align-start">
    <h1
      class="
      u-bg--black
      u-color--white
      u-display--table
      u-pad--20
      l-grid--fixed
    "
    >
      Components
    </h1>
  </div>
  <div class="o-content">
    <div class="o-content__body">
      <p>
        We have included a collection of our favourite components, used
        regularly in our own projects.<br />We hope they might come in handy for
        you too, and save on precious dev time.
      </p>
      <hr />
      <h2>Component library:</h2>
      <ul>
        <!-- TODO: Replace with navigatable list -->
        <!-- built programatically -->
        <li>Sources</li>
        <li>Removable assets</li>
        <li>Modals</li>
      </ul>
    </div>
  </div>
</article>

<!-- injectRelative:slide.js -->
<!-- endinject -->
