<article id="next_steps" class="u-bg--blue">
  <div class="o-content">
    <div class="o-header">
      <h1
        class="
      u-bg--black
      u-color--white
      u-display--table
      u-pad--20
    "
      >
        Action Plan / Next Steps demo
      </h1>
    </div>
    <div class="o-content__body">
      <div class="l-grid__row  u-h--1">
        <div class="l-grid__col u-flex--10/30 u-flex--justify-between ">
          <div class="">
            <div class="u-flex--1 u-pad--top-60">
              <p class="u-color--white u-margin--bottom-20">
                This is a top-to-bottom example of an action plan component,
                which is often used at the end of a presentation to drive
                follow-up actions.
              </p>
              <p class="u-color--white">
                It is a demonstration of a more complex series of components,
                closer to a single page application in structure.
              </p>
            </div>
          </div>
        </div>
        <div
          class="l-grid__col u-flex--20/30 u-h--1 u-pad--bottom-30 u-pad--top-30 u-pad--left-80 o-transition--fade-down o-transition__delay--1000"
        >
          <div
            id="next_steps_root"
            class="s-table  u-pad--left-60 u-pad--right-60 u-h--1 u-pad--top-20"
          >
            here is the table
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-modal">
    <div class="shroud"></div>
    <input type="text" class="date-picker" />
  </div>
</article>

<!-- injectRelative:slide.js -->
<!-- endinject -->
