<article id="inject_data_values" class="u-bg--blue">
  <div class="o-content page01">
    <div class="o-header">
      <h1
        class="
        u-bg--black
        u-color--white
        u-display--table
        u-pad--20
      "
      >
        Data inject demo
      </h1>
    </div>
    <div class="o-content__body">
      <div class="u-font--fz-66" data-injectable="customer">
        Customer name
      </div>
      <div class="u-font--fz-40" data-injectable="preso_date">
        Preso date
      </div>
    </div>
  </div>
</article>

<!-- injectRelative:slide.js -->
<!-- endinject -->
