.c-source {
  position: relative;
  padding: 20px 7px 20px 0;

  &__toggle,
  &__text {
    @include font-size(14);
    @include cursor();
  }

  &__toggle {
    @include font-weight(bold);
    float: left;
    z-index: 2;
    opacity: 1;
    padding-right: 7px;
    will-change: opacity;
    transition: opacity 0.2s ease-out;
    backface-visibility: hidden;

    &--fixed {
      position: absolute;
      top: 20px;
      left: 0px;
    }
  }

  &__text {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: opacity 200ms ease-out, visibility 0ms linear 200ms;
    backface-visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
      transition: opacity 200ms ease-out, visibility 0ms linear 0ms;
    }
  }
  &.is-active {
    .c-source__toggle {
      opacity: 0;
    }

    .c-source__text {
      opacity: 1;
      visibility: visible;
    }
  }
}
