<article id="removable_assets" class="u-bg--blue">
  <div class="o-content page01">
    <div class="o-header">
      <h1
        class="
        u-bg--black
        u-color--white
        u-display--table
        u-pad--20
      "
      >
        Removable assets &amp; source demo
      </h1>
    </div>
    <div class="o-content__body">
      <ul class="u-pad--left-60">
        <li class="js-list-item u-margin--bottom-10" data-key="item-1">
          Item 1
        </li>
        <li class="js-list-item u-margin--bottom-10" data-key="item-2">
          Item 2
        </li>
        <li class="js-list-item u-margin--bottom-10" data-key="item-3">
          Item 3
        </li>
        <li class="js-list-item u-margin--bottom-10" data-key="item-4">
          Item 4
        </li>
        <li class="js-list-item u-margin--bottom-10" data-key="item-5">
          Item 5
        </li>
      </ul>
      <div class="js-reset">Reset</div>
    </div>
    <div class="o-footer">
      <div class="c-source">
        <p class="c-source__toggle js-source-toggle">Source</p>
        <p class="c-source__text js-source-text">Lots of words</p>
      </div>
    </div>
  </div>
</article>

<!-- injectRelative:slide.js -->
<!-- endinject -->
