$border-widths: 10;
$border-radiuses: 5;

.u-border {
  position: relative;

  @each $i in $border-widths {
    &-#{$i} {
      border: $i * 1px solid;
    }
    @each $direction in $directions {
      &--#{$direction}-#{$i} {
        border-#{$direction}: $i * 1px solid;
      }
    }
  }

  @each $key, $value in $colour-list {
    &--color-#{$key} {
      border-color: $value;
    }
  }

  &--radius {
    @each $radius in $border-radiuses {
      &--#{$radius} {
        border-radius: $radius * 1px;
        @each $corner in $corners {
          &--#{$corner}-#{$radius} {
            border-#{$corner}-radius: $radius * 1px;
          }
        }
      }
    }
  }
}
