$pad-sizes: 6, 10, 20, 30, 40, 60, 80;

.u-pad {
  @each $direction in $directions {
    @each $i in $pad-sizes {
      &--#{$i} {
        padding: $i * 1px;
      }

      &--#{$direction}-#{$i} {
        padding-#{$direction}: $i * 1px;
      }
    }

    &--#{$direction}-pagepad {
      padding-#{$direction}: $pagepad;
    }
  }
  &--none {
    padding: 0;
  }
}
