$rel-positions: 1;
$z-indexes: 1;
$abs-positions: 300, 400;

.u-rel {
  position: relative;

  @each $pos in $rel-positions {
    @each $direction in $directions {
      &--#{$direction}-#{$pos} {
        #{$direction}: $pos * 1px;
      }

      &--#{$direction}-neg-#{$pos} {
        #{$direction}: $pos * -1px;
      }
    }
  }
  /* zindex adjustment, useful where you want a column tucked under another */
  @each $z_index in $z-indexes {
    &__z-#{$z_index} {
      z-index: #{$z_index};
    }
    &__z-neg-#{$z_index} {
      z-index: -#{$z_index};
    }
  }
}

.u-abs {
  position: absolute;

  @each $direction in $directions {
    &--#{$direction} {
      @extend .u-abs;
      #{$direction}: 0;
    }
  }

  @each $pos in $abs-positions {
    @each $direction in $directions {
      &--#{$direction}-#{$pos} {
        @extend .u-abs;
        #{$direction}: $pos * 1px;
      }

      &--#{$direction}-neg-#{$pos} {
        @extend .u-abs;
        #{$direction}: $pos * -1px;
      }
    }
  }

  /* shortand for aelement pinned to all 4 sides of parent */
  &--trbl {
    @extend .u-abs;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
